.notice-board{
    background-color: rgb(250, 66, 177);
    margin: 1rem;
    color:white;
    padding: 2rem;
    border-radius: 2rem;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
abbr{
    text-decoration: unset;
    cursor:pointer;
}
abbr:hover{
    color:navajowhite;
}
@media screen and (max-width:320px){
    .heading{
        font-size:18px;
    }
}